:root {
    --font: #333333;
    --base: #47924D;

    --green: #9BC525;
    --green-dark: #3C632A;

    --gray-66: #666666;
    --gray-ea: #EAEAEA;
    --gray-f5: #F5F5F5;
}

body {
    font-family: 'Oswald', Arial, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 20px;
    color: var(--font);
    background: #fff;
}


.icon {
    display: inline-block;
    width: 30px;
    height: 30px;
    max-width: 30px;
    margin-right: 10px;
}


.main  {
    padding-bottom: 50px;
}

.rounded {
    border-radius: 4px;
}