.header {
    margin: 0 0 20px 0;
}

.header-service-bar {
    padding: 2px 0;
}

.header-service-pane {

}

.auth {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2em;
    text-align: right;
}
.auth > * {
    display: inline-block;
    vertical-align: middle;
}
.sura-icon-user {
    font-size: 16px;
}

.auth__button {
    cursor: pointer;
}

.auth__login {
    font-weight: 400;
}

.auth__register {
    font-weight: 300;
}

.auth__link {
    text-decoration: none;
    color: var(--font);
}


.header-main {
    background: rgba(255, 255, 255, 0.8);
}

.header__col-1 {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;
}

.header__col-2 {
    position: relative;
    width: 100%;
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    grid: 10px;
}



.logo {
    display: block;
}

.logo__img {
    display: block;
    max-width: 346px;
    height: auto;
    width: 100%;
}




.nav-main {
    width: 100%;
}

.nav-main__list {
    width: 100%;
    flex: 1;
}

.nav-main__item {
    position: relative;
    color: var(--font);
}
.nav-main>.nav-main__list>.nav-main__item {
    flex: 1 1 auto;
    margin-bottom: 12px;
}


.nav-main__link {
    padding: 5px 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: var(--font);
    text-transform: uppercase;
    font-weight: 400;
}

.nav-main__item:hover > .nav-main__link,
.nav-main__item:hover > .nav-main__icon,
.nav-main__item.current > .nav-main__link,
.nav-main__item.current>.nav-main__icon {
    color: var(--base);
}

.nav-main__item.parent {
    /*padding-right: 24px*/
}

.nav-main__icon {
    font-size: 10px;
    /*position: absolute;
    right: 10px;
    top: 11px;*/
    position: relative;
    top: -2px;
}

/* 2 level */
.nav-main__item>.nav-main__list {
    display: none;
    min-width: 200px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    left:0;
    z-index: 10000;
    top: 100%;
    padding: 1em 1em 0 1em;
    text-align: left;
}
.nav-main__item:hover>.nav-main__list,
.nav-main__item>.nav-main__list:hover {
    display: block;
}

.nav-main__item>.nav-main__list {
    

}

.nav-main__list>.nav-main__item .nav-main__item {
    margin-bottom: 10px;
}
.nav-main__item>.nav-main__list .nav-main__link {
    text-transform: none;
}


.header-search {
    border: none;
    width: 45px;
    height: 45px;
    background-color: var(--base);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    display: flex;
    place-items: center;
    border: none;
    padding: 0;
}

.header-search .sura-icon {
    display: block;
    margin: 0 auto;
}


.mp__overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.mp__panel {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 101;
    padding: 0 5px 0 5px;
    text-align: center;
    background: var(--base);
    display: none;
}

.mp__panel:after {
    content: '';
    display: table;
    clear: both;
}

.mp__button-main {
    width: 34px;
    height: 34px;
    margin: 3px;
    background: none;
    border: none;
    padding: 4px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    float: right;
}

.mp__line {
    position: relative;
    display: block;
}

.mp__line:after,
.mp__line:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

.mp__line:after {
    top: 9px;
}

.mp__line,
.mp__line:after,
.mp__line:before {
    width: 100%;
    height: 2px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 2px;
    background-color: #fff;
}

.mp__button-main.mp--on .mp__line {
    background-color: transparent;
}

.mp__button-main.mp--on .mp__line:before {
    -webkit-transform: rotate(45deg) translate(6px, 7px);
    transform: rotate(45deg) translate(6px, 7px);
}

.mp__button-main.mp--on .mp__line:after {
    -webkit-transform: rotate(-45deg) translate(6px, -7px);
    transform: rotate(-45deg) translate(6px, -7px);
}



.mp__button-text {
    margin: 6px 6px 3px 3px;
    background: none;
    border: solid 1px #fff;
    padding: 6px 4px;
    border-radius: 3px;
    cursor: pointer;
    outline: none;
    font-size: 14px;
    float: left;
    color: #fff;
}

.mp__button-text--center {
    float: none;

}

.mp--hide {
    display: none;
}

.mp__button {
    position: relative;
}

.mp__notification {
    position: absolute;
    top: -5px;
    right: -11px;
    background-color: #dd0000;
    color: #fff;
    padding: 1px 3px;
    border-radius: 10px;
    min-width: 12px;
}





@media only screen and (max-width : 767px) {

    .mp__overlay.mp--on {
        display: block;
    }

    .mp__panel {
        display: block;
    }

    body.mp--init {
        padding-top: 40px;
    }


    .mp__nav-panel {
        display: block;
        position: fixed;
        top: 0;
        bottom: 0;
        width: 80%;
        max-width: 260px;
        overflow-y: auto;
        -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
        -webkit-transition: left, right 0.3s linear;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.8);
        z-index: 102;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        background-color: #fff;
        margin: 0;
        padding: 45px 20px 20px 20px !important;
        height: auto !important;
    }

    .mp__nav-panel_main {
        left: -100%;
        transition: left 0.3s linear;
    }


    .mp__nav-panel_second {
        right: -125%;
        transition: right 0.3s linear;
    }

    .mp__nav-panel_main.mp--on {
        left: 0;
    }


    .mp__nav-panel_second.mp--on {
        right: 0;
    }

}


@media screen and (min-width: 768px) {
    .header__col-1 {
        flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 12px;
    }

    .header__col-2 {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .logo__img {
        max-width: 240px;
    }

    .nav-main__list {
        display: flex;
        align-items: center;
    }
    .nav-main>.nav-main__list>.nav-main__item {
        text-align: center;
    }
    .nav-main__link {
        font-size: 16px;
    }
    .nav-main__item.parent {
        /*padding-right: 18px;*/
    }
    .nav-main__icon {
       /* right: 6px;
        top: 8px;*/
    }
    .nav-main>.nav-main__list>.nav-main__item:not(:first-child) {
        border-left: 1px solid rgba(51, 51, 51, 0.5);
    }
    .nav-main>.nav-main__list>.nav-main__item {
        margin-bottom: 0;
    }

}


@media screen and (min-width: 1170px) {
    .header__col-1 {
        flex: 0 0 32%;
        max-width: 32%;
        margin-bottom: 0;
    }

    .header__col-2 {
        flex: 0 0 68%;
        max-width: 68%;
    }

    .logo__img {
        max-width: 346px;
    }
    .nav-main__link {
        font-size: 20px;
    }
    .nav-main__item.parent {
        /*padding-right: 24px*/
    }
    .nav-main__icon {
        /*right: 10px;
        top: 11px;*/
    }
}





/* BreadCrumbs */
.breadcrumbs {
    padding: 5px 0;
    background: rgba(155, 197, 37, 0.1);
    color: var(--font);
    margin-bottom: 30px;
}

.breadcrumb {
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    color: var(--font);
    line-height: 1.5em;
}
.breadcrumb li:not(.active)::after {
    content: " > ";
    display: inline-block;
    color: var(--font);
    margin: 0px 5px;
}