.header {
    margin: 0 0 20px 0;
}

.header-service-bar {
    padding: 2px 0;
}

.header-service-pane {

}

.auth {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.2em;
    text-align: right;
}
.auth > * {
    display: inline-block;
    vertical-align: middle;
}
.sura-icon-user {
    font-size: 16px;
}

.auth__button {
    cursor: pointer;
}

.auth__login {
    font-weight: 400;
}

.auth__register {
    font-weight: 300;
}

.auth__link {
    text-decoration: none;
    color: var(--font);
}


.header-main {
    background: rgba(255, 255, 255, 0.8);
}

.header__col-1 {
    position: relative;
    width: 100%;
    flex: 0 0 32%;
    max-width: 32%;
    padding: 0 15px;
}

.logo {
    display: block;
}

.logo__img {
    display: block;
    max-width: 346px;
    height: auto;
    width: 100%;
}

.header__col-2 {
    position: relative;
    width: 100%;
    flex: 0 0 68%;
    max-width: 68%;
    padding: 0 15px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    grid: 10px;
}

.nav-main {
    width: 100%;
}

.nav-main__list {
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
}

.nav-main__item {
    position: relative;
    color: var(--font);
}
.nav-main>.nav-main__list>.nav-main__item {
    text-align: center;
    flex: 1 1 auto;
}

.nav-main>.nav-main__list>.nav-main__item:not(:first-child) {
    border-left: 1px solid rgba(51, 51, 51, 0.5);
}

.nav-main__link {
    padding: 5px 4px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    color: var(--font);
    text-transform: uppercase;
    font-weight: 400;
}

.nav-main__item:hover > .nav-main__link,
.nav-main__item:hover > .nav-main__icon,
.nav-main__item.current > .nav-main__link,
.nav-main__item.current>.nav-main__icon {
    color: var(--base);
}

.nav-main__item.parent {
    padding-right: 24px
}

.nav-main__icon {
    font-size: 10px;
    position: absolute;
    right: 10px;
    top: 11px;
}

/* 2 level */
.nav-main__item>.nav-main__list {
    display: none;
    min-width: 200px;
    margin: 0;
    background-color: #fff;
    box-shadow: 0 10px 5px 5px rgba(0,0,0,0.1);
    position: absolute;
    left:0;
    z-index: 10000;
    top: 100%;
    padding: 1em 1em 0 1em;
    text-align: left;
}
.nav-main__item:hover>.nav-main__list,
.nav-main__item>.nav-main__list:hover {
    display: block;
}

.nav-main__item>.nav-main__list {
    

}

.nav-main__list>.nav-main__item .nav-main__item {
    margin-bottom: 10px;
}
.nav-main__item>.nav-main__list .nav-main__link {
    text-transform: none;
}


.header-search {
    border: none;
    width: 45px;
    height: 45px;
    background-color: var(--base);
    border-radius: 6px;
    cursor: pointer;
    color: #fff;
    font-size: 19px;
    display: flex;
    place-items: center;
    border: none;
    padding: 0;
}

.header-search .sura-icon {
    display: block;
    margin: 0 auto;
}





/* BreadCrumbs */
.breadcrumbs {
    padding: 5px 0;
    background: rgba(155, 197, 37, 0.1);
    color: var(--font);
    margin-bottom: 30px;
}

.breadcrumb {
}

.breadcrumb li {
    display: inline;
}

.breadcrumb a {
    color: var(--font);
    line-height: 1.5em;
}
.breadcrumb li:not(.active)::after {
    content: " > ";
    display: inline-block;
    color: var(--font);
    margin: 0px 5px;
}