.product-mini__list {
    margin-bottom: 60px;
    margin-top: 45px;
}

.product-mini-card {
    max-width: 250px;
    margin: 0 auto;
}

.product-mini-card__figure {
    display: block;
    text-decoration: none;
    /*height: 212px;*/
    position: relative;
    border: 1px solid #666666;
    border-radius: 20px;
    overflow: hidden;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 35px;
}
.product-mini-card__figure:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -20px;
    width: 85%;
    margin: 0 8%;
    height: 4px;
    border-radius: 4px;
    background-color: var(--base);
}

.product-mini-card__img {
    width: 100%;
    max-width: 212px;
    height: auto;
    aspect-ratio: 1;
    /*object-fit: cover;*/
    display: block;
    margin: 0 auto;
    border-radius: 19px;
    transition: transform 0.25s ease-in-out;
}

.product-mini-card__title {
    font-weight: 300;
    line-height: 1.5em;
    text-align: center;
    color: #666666;
}

.product-mini-card__title-link {
    color: #666666;
    text-decoration: none;
}
.product-mini-card__title-link:hover {
    color: var(--base)
}

.product-mini-card:hover .product-mini-card__img {
    transform: scale(1.1, 1.1);
}
.product-mini-card:hover .product-mini-card__title-link {
    font-weight: 400;
}