.table-orders {
    width: 100%;
    text-align: center;
    background-color:white;
}
.table-orders th {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    padding: 18px 10px;
    color: #666666;
    background-color: #F5F9E9;
}
.table-orders th:not(:last-child) {
    border-right: 1px solid #DAE6C6;
}
.table-orders tr td {
    padding: 18px 20px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;  
    color: #666666;
}
.table-orders tr:nth-child(2n) {
    background-color: #F5F9E9;
}

.table-orders tr td:not(:last-child) {
    border-right: 1px solid #DAE6C6;
}
.table-orders-readmore {
    color: #0052B4;
    font-size: 14px;
}
.table-orders-readmore:hover{
    text-decoration: none;
}
.table-wrapper {
    border-radius: 6px;
    overflow: hidden;
    border: 1px solid #9BC525;
}
@media only screen and (max-width:668px)  {
    .table-wrapper {
        overflow: auto;
    }
}
.table-simple-order {
    width: 100%;
    background-color: #F5F5F5;
    box-sizing: border-box;
}
.table-simple-order tr td {
    padding: 15px 20px;
}
.table-simple-order tr th {
    padding: 15px 20px;
    font-weight: 300;
    font-size: 20px;
    letter-spacing: 0.05em;   
    color: #333333;    
    background-color: #F5F9E9;
}
.table-simple-order span {
    font-weight: 500;
}
.btn-order-cancel {
    font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
}
.marb-2 {
    margin-bottom: 2em;
}
